@keyframes pulse {
    0% {
        text-shadow: 0 0 0px aqua;
        scale: 1.01;
    }

    70% {
        text-shadow: 0 0 10px rgba(0, 255, 255, 0);
        scale: 1;
    }

    100% {
        text-shadow: 0 0 0px rgba(0, 255, 255, 0);
        scale: 1.01;
    }
}

.title_pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    text-shadow: 0 0 5px aqua;
}