@import "tailwindcss";

@font-face {
  font-family: 'RubikWetPaint';
  src: url(/fonts/RubikWetPaint/RubikWetPaint-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url(/fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'OpenSans';
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100%;
  background-color: #0a0a0a;
  color: white;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

img {
  user-select: none;
  pointer-events: none;
}

button {
  cursor: pointer;
}

.layout {
  padding: 0 3%;
}

.masked {
  box-shadow: inset 0 0 100px 100px #0a0a0a;
  overflow: hidden;
}


@mixin mixin_hidden () {
  opacity: 0;
  transform: translateY(10px);
}


.layout:not(.no_js) .hidden_text_home,
.hidden_text_advantages,
.hidden_title_advantages,
.hidden_comparisons,
.hidden_title_services,
.hidden_text_service_1,
.hidden_text_service_2,
.hidden_text_service_3,
.hidden_text_card_price_1,
.hidden_text_card_price_2,
.hidden_text_card_price_3,
.hidden_title_portfolio,
.hidden_text_portfolio_1,
.hidden_text_portfolio_2,
.hidden_text_portfolio_3,
.hidden_text_contacts {
  @include mixin_hidden();
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
}

.layout:not(.no_js) .hidden_text_home.animated,
.hidden_text_advantages.animated,
.hidden_title_advantages.animated,
.hidden_comparisons.animated,
.hidden_title_services.animated,
.hidden_text_service_1.animated,
.hidden_text_service_2.animated,
.hidden_text_service_3.animated,
.hidden_text_card_price_1.animated,
.hidden_text_card_price_2.animated,
.hidden_text_card_price_3.animated,
.hidden_title_portfolio.animated,
.hidden_text_portfolio_1.animated,
.hidden_text_portfolio_2.animated,
.hidden_text_portfolio_3.animated,
.hidden_text_contacts.animated {
  opacity: 1;
  transform: translateY(0);
}


@keyframes animated {
  0% {
    @include mixin_hidden();
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.no_js {
  .hidden_text_home {
    animation: animated 0.7s ease-in-out;
    animation-fill-mode: backwards;
  }

  .hidden_text_advantages,
  .hidden_title_advantages,
  .hidden_comparisons,
  .hidden_title_services,
  .hidden_text_service_1,
  .hidden_text_service_2,
  .hidden_text_service_3,
  .hidden_text_card_price_1,
  .hidden_text_card_price_2,
  .hidden_text_card_price_3,
  .hidden_title_portfolio,
  .hidden_text_portfolio_1,
  .hidden_text_portfolio_2,
  .hidden_text_portfolio_3,
  .hidden_text_contacts {
    animation: animated 0.7s ease-in-out;
    animation-fill-mode: forwards;
  }
}

.text_not_found {
  background: linear-gradient(to right, #0a0a0a, #0a0a0a, #0a0a0a00);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 5px rgba(0, 0, 0, 0.7);
}